body {
    padding-top: 55px;
    padding-left: 5px;
    padding-right: 5px;
}
#calendar {
    display: none;
}
#note {
    display: none;
}
#task {
    display: none;
}
#note {
    display: none;
}

