body {
    padding-top: 55px;
    padding-left: 5px;
    padding-right: 5px;
}
#calendar {
    display: none;
}
#dashboard {
    margin-top: 5px;
}
#login {
    margin-top: 5px;
    display: none;
}
#note {
    display: none;
}
#task {
    display: none;
}
#note {
    display: none;
}

